<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a href="#" ng-click="adminNavigationCtrl.toggleSidebar()">
                    <img src="assets/images/iconewtk.png" width="35" height="35">
                    <span style="font-size: 16px;">Panel Zarządzania</span>
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="adminNavbar.adminDashboard">Panel Ogólny<span class="menu-icon fa fa-bookmark"></span></a>
            </li>
             <li class="sidebar-title"><span>Czat</span></li>
            <li class="sidebar-list">
                <a ui-sref="adminNavbar.chat">Moje Konwersacje <span class="menu-icon fa fa-comments"></span></a>
            </li>
            <li class="sidebar-title"><span>Badania</span></li>
            <li class="sidebar-list">
                <a ui-sref="adminNavbar.inquiries">Dostepne Badania <span class="menu-icon fa fa-h-square"></span></a>
            </li>
            <li class="sidebar-title"><span>Moduły</span></li>
            <li class="sidebar-list">
                <a ui-sref="adminNavbar.modules">Dostępne Moduły <span class="menu-icon fa fa-hdd-o"></span></a>
            </li>
            <li class="sidebar-title"><span>Skale/Ankiety</span></li>
            <li class="sidebar-list">
                <a ui-sref="adminNavbar.selections">Dostępne Skale/Ankiety <span class="menu-icon fa fa-qrcode"></span></a>
            </li>
            <li class="sidebar-title"><span>Słowniki</span></li>
            <li class="sidebar-list">
                <a ui-sref="adminNavbar.diseases">Słownik Chorób <span class="menu-icon fa fa-table"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="adminNavbar.inquiryCategories">Słownik Kategorii <span class="menu-icon fa fa-table"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="adminNavbar.addictions">Słownik Uzależnień <span class="menu-icon fa fa-table"></span></a>
            </li>
            <li class="sidebar-title"><span>Opcje Aplikacji</span></li>
            <li class="sidebar-list">
                <a href="" ng-click="adminNavigationCtrl.logout()">Wyloguj się <span class="menu-icon fa fa-sign-out"></span></a>
            </li>
        </ul>
    </div>
    <!-- End Sidebar -->
    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="meta">
                        <div class="page" >
                            <span ncy-breadcrumb-last></span>
                        </div>
                        <div ncy-breadcrumb></div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->
            <!-- Main Content -->
            <div ui-view></div>
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
