<div class="modal-header">
    <h3 class="modal-title text-center" ng-bind="showRadioScale.model.selection.name"></h3>
</div>
<div class="modal-body">
    <span ng-bind="showRadioScale.model.selection.description"></span>
    
    <div class="form-group" ng-repeat="answer in showRadioScale.model.selection.selection_answers">
        <div class="radio">
            <label><input type="radio">{{answer.answer}}</label>
        </div>
    </div>
</div>
<div class="modal-footer" style="text-align:center;">
    <div class="row">
        <button class="btn btn-danger btn-extended-width" type="button" ng-click="showRadioScale.cancel()">Zamknij Podgląd</button>
    </div>
</div>
